<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @beer_club.to_s %> </h2>
</p>

<p>
  Founded <%= @beer_club.founded %>
</p>

<p>
  <strong> Members </strong>
  <ul>
    <% @beer_club.each do |f| %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
