<p id="notice"><%= notice %></p>

<h2> <%= @beer_club.to_s %> </h2>

<p> Founded <%= @beer_club.founded %> </p>

<strong> Members </strong>

<ul>
  <% @beer_club.members.each do |member| %>
    <li> <%= link_to member.username, user_path(member.id) %> </li>
  <% end %>
</ul>
<br>

<%if current_user %>


  <%if @beer_club.members.find_by(username: current_user.username).nil? %>
    <%= form_for(@newmembership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "join the club"%>
    <% end %>
  <% else %>
    <%= form_for(@beer_club.memberships.find_by(user_id: current_user.id), method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
    <% end %>
  <%end%>

  <p> <%= link_to('Edit', edit_beer_club_path(@beer_club)) %>
  <br><%= link_to('Destroy the club', beer_club_path(@beer_club), method: :delete, data: { confirm: 'Are you sure?' }) %></p>

<%end%>
