<!--<p id="notice"><%= notice %></p>-->

<p>
  <h2> <%= @user.username %>
    <% if current_user.admin && @user.suspended %>
      <span class="label label-info">account frozen</span>
    <%end%>
  </h2>
  Has made <%=pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average_rating) %>
</p>

<p> Member of
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, beer_club_path(club.id) %>
  <% end %>
</p>
<p>
Favorite beer style: <%= @user.favorite_style.name unless @user.favorite_style.nil?%> <br>
Favorite brewery: <%=  @user.favorite_brewery.name unless @user.favorite_brewery.nil? %>
</p>

<strong>ratings</strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%if @user == current_user %>
        <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </li>
  <% end %>
</ul>
<br>

<%if current_user %>

  <p><%= freeze_or_reactivate_button(@user)%></p>

  <%if @user == current_user or current_user.admin? %>
    <%=link_to('Edit', edit_user_path(@user) , class:"btn btn-primary btn-sm")%>
    <%=link_to('Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" )%>
  <%end%>
<%end%>
