<h1>Breweries</h1>


<% cache "brewerylist", skip_digest: true do %>

<h2>Active</h2>

<div class="panel panel-default">
  <div class="panel-heading">Number of active breweries: <%= @active_breweries.count %></div>
  <%= render 'list', breweries: @active_breweries %>
</div>

<h2>Retired</h2>

<div class="panel panel-default">
  <div class="panel-heading">Number of retired breweries: <%= @retired_breweries.count %></div>
  <%= render 'list', breweries: @retired_breweries %>
</div>
<%end%>

<br>

<%= link_to('Create a new brewery', new_brewery_path, class:"btn btn-primary btn-sm") if current_user %>
