<!--<p id="notice"><%= notice %></p>-->
<% cache @brewery do %>
<p>
  <h2> <%= @brewery.name %>
    <% if not @brewery.active %>
      <span class="label label-info">retired</span>
    <%end%>
  </h2>

</p>

<p>
  <em>Established in </em>
  <%= @brewery.year %>
</p>

<p>
  <td>Number of beers:</td>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
  <% end %>
</p>

<P><% if @brewery.ratings.empty? %>
 Has no ratings!
<% else %>
 Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= round(@brewery.average_rating) %>
<% end %>
</p>

<%end%>

<br>
<p>
<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class:"btn btn-primary btn-sm"%>
</p>
<!-- <%= link_to 'List of beers', beers_path %> | -->
<%= edit_and_destroy_buttons(@brewery)%>


<!-- | <%= link_to 'Back', breweries_path %> -->
